.erreur {
    font-weight: var(--epaisseur-police-tres-gras);
    color: #a72828;
    background-color: #feecec;
    border: 1px solid #feecec;
    border-radius: var(--arrondi-grand);
    padding: var(--rythme-serre) var(--rythme-base);
    margin-bottom: var(--rythme-base);
}
