header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--couleur-principale);
    color: white;
    padding: var(--rythme-serre) var(--rythme-base);
}
