.succes {
    font-weight: var(--epaisseur-police-tres-gras);
    color: var(--couleur-verte);
    background-color: var(--couleur-accent);
    border: 1px solid var(--couleur-verte);
    border-radius: var(--arrondi-grand);
    padding: var(--rythme-serre) var(--rythme-base);
    margin: var(--rythme-base) 0;
}
